{% extends "app/base_site.html" %}

{% block title %} user {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>环境</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">

            <div class="x_content">

              <p><a href="{% url 'envTemplate_add' %}" class="btn btn-primary" >添加环境模板</a></p>

              <!-- start project list -->
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">环境模板名</th>
                    <th style="width: 20%">环境描述</th>
                    <th style="width: 20%">所属项目</th>
                    <th style="width: 20%">特性应用</th>
                    <th style="width: 20%">操作</th>
                  </tr>
                </thead>
                <tbody>
                {% for env in object_list %}
                  <tr>
                    <td>#</td>
                    <td>{{ env.name }}</td>
                      <td>{{ env.desc }}</td>
                      <td>
                         {{ env.project.name }}
                      </td>
                      <td>{{ env.featureApp }}</td>
                    <td>
                            <a href="{% url 'envTemplate_delete' pk=env.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
